<app-header></app-header>
<!--<button (click)="onButton()">Puebla tabla</button>-->
<table class="table table-striped">
    <thead>
        <tr>
            <th>COMP_Codigo</th>
            <th>Id_Trabajador</th>
            <th>Tipo_trabajador</th>
            <th>Apellido_Paterno</th>
            <th>Apellido_Materno</th>
            <th>Nombres</th>
            <th>Identificacion</th>
            <th>Entidad_Bancaria</th>
            <th>CarnetIESS</th>
            <th>Direccion</th>
            <th>Telefono_Fijo</th>
            <th>Telefono_Movil</th>
            <th>Genero</th>
            <th>Nro_Cuenta_Bancaria</th>
            <th>Codigo_Categoria_Ocupacion</th>
            <th>Ocupacion</th>
            <th>Centro_Costos</th>
            <th>Nivel_Salarial</th>
            <th>EstadoTrabajador</th>
            <th>Tipo_Contrato</th>
            <th>Tipo_Cese</th>
            <th>EstadoCivil</th>
            <th>TipodeComision</th>
            <th>FechaNacimiento</th>
            <th>FechaIngreso</th>
            <th>FechaCese</th>
            <th>PeriododeVacaciones</th>
            <th>FechaReingreso</th>
            <th>Fecha_Ult_Actualizacion</th>
            <th>EsReingreso</th>
            <th>BancoCTA_CTE</th>
            <th>Tipo_Cuenta</th>
            <th>RSV_Indem_Acumul</th>
            <th>Año_Ult_Rsva_Indemni</th>
            <th>Mes_Ult_Rsva_Indemni</th>
            <th>FormaCalculo13ro</th>
            <th>FormaCalculo14ro</th>
            <th>BoniComplementaria</th>
            <th>BoniEspecial</th>
            <th>Remuneracion_Minima</th>
            <th>CuotaCuentaCorriente</th>
            <th>Fondo_Reserva</th>
            <th>Mensaje</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let objeto of arregloObjetos">
            <td>{{ objeto.COMP_Codigo }}</td>
            <td>{{ objeto.Id_Trabajador }}</td>
            <td>{{ objeto.Tipo_trabajador }}</td>
            <td>{{ objeto.Apellido_Paterno }}</td>
            <td>{{ objeto.Apellido_Materno }}</td>
            <td>{{ objeto.Nombres }}</td>
            <td>{{ objeto.Identificacion }}</td>
            <td>{{ objeto.Entidad_Bancaria }}</td>
            <td>{{ objeto.CarnetIESS }}</td>
            <td>{{ objeto.Direccion }}</td>
            <td>{{ objeto.Telefono_Fijo }}</td>
            <td>{{ objeto.Telefono_Movil }}</td>
            <td>{{ objeto.Genero }}</td>
            <td>{{ objeto.Nro_Cuenta_Bancaria }}</td>
            <td>{{ objeto.Codigo_Categoria_Ocupacion }}</td>
            <td>{{ objeto.Ocupacion }}</td>
            <td>{{ objeto.Centro_Costos }}</td>
            <td>{{ objeto.Nivel_Salarial }}</td>
            <td>{{ objeto.EstadoTrabajador }}</td>
            <td>{{ objeto.Tipo_Contrato }}</td>
            <td>{{ objeto.Tipo_Cese }}</td>
            <td>{{ objeto.EstadoCivil }}</td>
            <td>{{ objeto.TipodeComision }}</td>
            <td>{{ objeto.FechaNacimiento }}</td>
            <td>{{ objeto.FechaIngreso }}</td>
            <td>{{ objeto.FechaCese }}</td>
            <td>{{ objeto.PeriododeVacaciones }}</td>
            <td>{{ objeto.FechaReingreso }}</td>
            <td>{{ objeto.Fecha_Ult_Actualizacion }}</td>
            <td>{{ objeto.EsReingreso }}</td>
            <td>{{ objeto.BancoCTA_CTE }}</td>
            <td>{{ objeto.Tipo_Cuenta }}</td>
            <td>{{ objeto.RSV_Indem_Acumul }}</td>
            <td>{{ objeto.Ano_Ult_Rsva_Indemni }}</td>
            <td>{{ objeto.Mes_Ult_Rsva_Indemni }}</td>
            <td>{{ objeto.FormaCalculo13ro }}</td>
            <td>{{ objeto.FormaCalculo14ro }}</td>
            <td>{{ objeto.BoniComplementaria }}</td>
            <td>{{ objeto.BoniEspecial }}</td>
            <td>{{ objeto.Remuneracion_Minima }}</td>
            <td>{{ objeto.CuotaCuentaCorriente }}</td>
            <td>{{ objeto.Fondo_Reserva }}</td>
            <td>{{ objeto.Mensaje }}</td>
        </tr>
    </tbody>
</table>