<app-header></app-header>
<div class="h-100 bg-dark text-white p-5">
    <h1 cl>Centro de Costos</h1>
    <div class="w-25">
      <form>
        <p>Nuevo costo:</p>
        <label class="form-label">Código:</label>
        <input class="form-control" [(ngModel)]="codigo" name="codigo">
        <label class="form-label">Descripción:</label>
        <input class="form-control" [(ngModel)]="descripcion" name="descripcion">
        <button (click)="onInsert()" type="submit" class="btn btn-primary mt-2 mb-3">Insertar</button>
      </form>

    </div>
    
    <table class="table table-dark table-striped">
        <thead>
            <tr >
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
             
            </tr>
          </thead>
          <tbody [(ngModel)]="costos">
            <tr *ngFor="let costo of costos; let i = index" >
              <th scope="row">{{costo.Codigo}}</th>
              <th scope="row">{{costo.NombreCentroCostos}}</th>
              <th scope="row"> 
                <button   class="bg-primary text-white border-0" type="button" data-bs-toggle="collapse"   [attr.data-bs-toggle]="'collapse'"
                [attr.data-bs-target]="'#collapseExample-' + i" aria-expanded="false" aria-controls="collapseExample">
                  Editar
                </button>
                <div class="collapse" [attr.id]="'collapseExample-' + i">
                  
                    <form>
                      <p>Editar costo:</p>
                      <label class="form-label">Código:</label>
                      <input class="form-control" [(ngModel)]="codigo" name="codigo" placeholder="{{costo.Codigo}}">
                      <label class="form-label">Descripción:</label>
                      <input class="form-control" [(ngModel)]="descripcion" name="descripcion"  placeholder="{{costo.NombreCentroCostos}}">
                      <button (click)="onInsert()" type="submit" class="btn btn-primary mt-2 mb-3">Insertar</button>
                    </form>
                  
                </div>
              </th>

              <th scope="row"> <button (click)="onDelete(costo.Codigo, costo.NombreCentroCostos)" mat-button class="bg-danger text-white border-0">Borrar</button></th>
              <td></td>
          
            </tr>
   
          </tbody>
          </table>

</div>
