<div class="vh-100 vw-100 d-flex justify-content-center align-items-center" style="z-index: 2; position: absolute; color: black;">
  <div class="bg-white p-4 rounded" style="max-width: 400px;">
    <h2 class="mb-4">Form Popup</h2>
    <form (ngSubmit)="submitForm()">
      <!-- Add your form fields here -->
      <div class="mb-3">
        <label for="codigo" class="form-label">Código:</label>
        <input type="text" id="codigo" name="codigo" class="form-control" [(ngModel)]="formData.codigo" required>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" class="form-control" [(ngModel)]="formData.descripcion" required>
      </div>
      <button class="btn btn-primary" (click)="onInsert(); closeModal();" type="submit">Enviar</button>
    </form>
  </div>
</div>
